* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "PTSans";
    src: url(./assets/fonts/PTSans-Regular.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PTSans";
    src:url(./assets/fonts/PTSans-Italic.ttf);
    font-style:italic;  
    font-weight: normal;
}

@font-face {
    font-family: "PTSans";
    src:url(./assets/fonts/PTSans-Bold.ttf);
    font-style:normal;  
    font-weight: bold;
}

@font-face {
    font-family: "PTSans";
    src:url(./assets/fonts/PTSans-BoldItalic.ttf);
    font-style:italic;  
    font-weight: bold;
}

body {
    font-family: "PTSans";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #2F2F2F;
    font-style: bold;
    background-color: #CACACA;
}

.nav-link:hover {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: underline;
    color: #2F2F2F;
    font-style: bold;
    transition: .3s;
    cursor: pointer;
    background-color: #FFC613;
}