* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "PTSans";
    src: url(./assets/fonts/PTSans-Regular.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PTSans";
    src:url(./assets/fonts/PTSans-Italic.ttf);
    font-style:italic;  
    font-weight: normal;
}

@font-face {
    font-family: "PTSans";
    src:url(./assets/fonts/PTSans-Bold.ttf);
    font-style:normal;  
    font-weight: bold;
}

@font-face {
    font-family: "PTSans";
    src:url(./assets/fonts/PTSans-BoldItalic.ttf);
    font-style:italic;  
    font-weight: bold;
}

body {
    font-family: "PTSans";
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    overflow: auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #CACACA;
    height: 50px;
    overflow: auto;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #2F2F2F;
    font-style: bold;
    background-color: #CACACA;
}

.nav-link:hover {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: underline;
    color: #2F2F2F;
    font-style: bold;
    transition: .3s;
    cursor: pointer;
    background-color: #FFC613;
}

.main-container {
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

.left-column {
    flex-grow: 1;
    background-color: #484856;
    color: #FBFBFB;
    min-height: 100vh;
    padding: 10px;
}

.right-column {
    flex-grow: 2;
    background-color: white;
    min-height: 100vh;
    padding: 10px;
}

.footer-list {
    height: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: #CACACA;
    overflow: auto;
}

.footer-item {
    padding: 0 40px;
}

.footer-link {
    text-decoration: none;
    color: #2F2F2F;
}

.github-img {
    margin: 0 auto;
    height: 20px;
    vertical-align: text-top;
}

.rsschool-img {
    margin: 0 auto;
    height: 30px;
    vertical-align: text-top;
}